.center {
    width: 50%;
    display: block;
    margin: auto;
}

.left {
    float: left
}

.right {
    float: right;
}


/* new style */

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    max-width: 768px;
    min-width: 300px;
    position: relative;
    margin: 0 auto;
    font-family: Catamaran;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

strong {
    font-weight: 500;
}

a {
    text-decoration: none;
}

.dropDownList {
    z-index: 100;
    margin: auto;
    margin-top: 60px;
}

.userLogin {
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #ECB733;
    height: 20px;
    width: 20px;
    border: none;
}

ul,
ul li {
    list-style-type: none;
}

header {
    background-color: #ECB733;
    width: 100%;
    height: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 2px 2px rgba(205, 205, 205, 0.7);
    -webkit-box-shadow: 0px 2px 2px rgba(205, 205, 205, 0.7);
    -moz-box-shadow: 0px 2px 2px rgba(205, 205, 205, 0.7);
    position: relative;
}

header .logo {
    padding-top: 2px;
    height: 26px;
    width: 108px;
}

.imgSize20 {
    height: 20px;
    width: 20px;
}

.imgSize11 {
    height: 11px;
    width: 8px;
}

.imgSize12 {
    height: 12px;
    width: 6px;
}

.imgSize120 {
    height: 120px;
    width: 24px;
}

.imgSize280 {
    height: 150px;
    width: 224px;
    border: 2px solid white;
    box-shadow: 0px 2px 4px rgba(205, 205, 205, 0.7);
    -moz-box-shadow: 0px 2px 4px rgba(205, 205, 205, 0.7);
    -webkit-box-shadow: 0px 2px 4px rgba(205, 205, 205, 0.7);
}

header .language {
    padding-left: 20px;
    padding-top: 2px;
    width: 20px;
    height: 20px;
    display: block;
}

header .user {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 36px;
    top: -16px;
}

.block {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding-top: 18px;
    padding-bottom: 16px;
    color: #555555;
    box-shadow: 0px 2px 2px rgba(205, 205, 205, 0.7);
    -webkit-box-shadow: 0px 2px 2px rgba(205, 205, 205, 0.7);
    -moz-box-shadow: 0px 2px 2px rgba(205, 205, 205, 0.7);
}

h1 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    color: #555555;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

h5 {
    font-weight: 300;
    font-size: 12px;
    color: #555555;
    margin: 0 auto;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.important {
    color: #ECB733;
}

.block .preview {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
    height: 188px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.selected {
    box-shadow: 0px 0px 4px #ECB733;
    -webkit-box-shadow: 0px 0px 4px #ECB733;
    -moz-box-shadow: 0px 0px 4px #ECB733;
}

.block .previewLeft {
    width: 280px;
    height: 188px;
    padding-top: 10px;
    padding-right: 20px;
    position: absolute;
    top: 0px;
    left: -300px;
    opacity: 0.8;
}

.block .previewRight {
    width: 280px;
    height: 188px;
    padding-top: 10px;
    padding-left: 20px;
    position: absolute;
    top: 0px;
    left: 300px;
    opacity: 0.8;
}

.block .previewSmallGroup {
    padding-top: 10px;
    margin: 0 auto;
    width: 279px;
    height: auto;
    position: relative;
}

.block .previewSmall {
    width: 86px;
    height: 58px;
    padding-bottom: 7px;
}

.block .leftColumn {
    padding-top: 10px;
    margin: 0 auto;
    width: 279px;
    height: auto;
    position: absolute;
    top: 0px;
    left: -300px;
    opacity: 0.8;
}

.block .rightColumn {
    padding-top: 10px;
    margin: 0 auto;
    width: 279px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 300px;
    opacity: 0.8;
}

.block .previewSmallLeft {
    width: 86px;
    height: 58px;
    padding-right: 20px;
}

.block .previewSmallLeft {
    width: 86px;
    height: 58px;
    padding-left: 20px;
}

.block .previewSmall .selected {
    box-shadow: 0px 0px 2px #ECB733;
    -webkit-box-shadow: 0px 0px 2px #ECB733;
    -moz-box-shadow: 0px 0px 2px #ECB733;
}

.block .switchDots {
    display: block;
    height: 24px;
    width: 24px;
    margin: 0 auto;
}

.block .leftDot {
    padding-top: 8px;
    padding-right: 8px;
    display: inline-block;
}

.block .rightDot {
    padding-top: 8px;
    display: inline-block;
}

.block .dot {
    width: 8px;
    height: 8px;
    margin: 0 auto;
}

.block .switchDots .activated {}

.block .switchDots .disactivated {}

.button {
    width: 279px;
    height: 24px;
    border-radius: 8px;
    background-color: #ECB733;
    margin: 0 auto;
    cursor: pointer;
}

.blank {
    width: 100%;
    height: 16px;
}

.buttonGroup {
    width: 375px;
    height: 24px;
    margin: 0 auto;
}

.buttonHalf {
    width: 30%;
    height: 24px;
    display: inline-block;
    position: relative;
}

.half {
    width: 50%;
    height: 24px;
    display: inline-block;
    position: relative;
}

.buttonHeight {
    height: 24px;
    text-align: center;
}

.share {
    height: 24px;
    width: 135px;
    border-radius: 8px;
    background-color: #ECB733;
    display: inline-block;
    cursor: pointer;
    /*
    position: absolute;
    top: 0;
    left: -139px;
*/
    border: 0;
}

.save {
    height: 24px;
    width: 135px;
    border-radius: 8px;
    background-color: #B6B6B6;
    display: inline-block;
    cursor: pointer;
    /*
    position: absolute;
    top: 0;
    left: 4px;
*/
    border: 0;
}

.textWhite {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

.textGrey {
    font-weight: 500;
    font-size: 14px;
    color: #555555;
    text-align: center;
}

.grey {
    background-color: #F2F2F2;
}

footer {
    width: 100%;
    height: 140px;
    padding-top: 12px;
    background-color: #555555;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
    line-height: 10px;
}

footer p {
    padding-top: 0px;
    line-height: 10px;
    text-align: center;
    /* TODO: need more change*/
}

footer p:first {
    padding-top: 24px;
}

.notification {
    width: 100%;
    height: 36px;
    background-color: #ECB733;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
    margin: 0 auto;
    padding: 4px 0px 8px 0px;
    display: block;
    box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
    -webkit-box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
    -moz-box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
}

.notification p {
    padding-left: 20px;
}

#taskListModal h1:last-of-type {
    padding-bottom: 4px;
    border-bottom: 1px solid #ECB733;
}

#taskListModal ul {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin: 0;
    padding: 0;
    display: block;
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

#taskListModal ul li {
    margin-bottom: 4px;
    padding: 6px 4px;
}

#taskListModal ul li:hover,
#taskListModal ul li:focus {
    background-color: rgba(236, 183, 51, 0.2);
}

.dropdown {
    padding-top: 16px;
    display: block;
    background-color: rgba(236, 183, 51, 0.2);
    height: auto;
    width: 100%;
    box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
    -webkit-box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
    -moz-box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
}

.dropdown .list {
    display: block;
    height: 24px;
}

.dropdown .list .listItem {
    width: 289px;
    height: 18px;
    margin-left: 20px;
    padding-left: 12px;
    padding-top: 4px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 300;
    color: #555555;
    border: 1px solid #B6B6B6;
    display: inline-block;
}

.step {
    height: 36px;
    background-color: #F2F2F2;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    margin: 0 auto;
    display: block;
    color: #555555;
    box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
    -webkit-box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
    -moz-box-shadow: 0 2px 2px rgba(205, 205, 205, 0.7);
}

.step h4 {
    height: 14px;
    font-weight: 500;
    font-size: 14px;
    color: #555555;
    padding-top: 2px;
    margin: 0;
    display: inline-block;
}

.step span {
    display: inline-block;
    height: 12px;
    max-width: 70%;
}

.step img {
    margin-top: 2px;
    width: 12px;
    height: 6px;
}

.step .leftImg {
    margin: 0 18px;
}

.chooseLayout {
    padding: 0 20px;
    min-height: 106px;
    margin: 0 auto;
}

.chooseLayout p {
    color: #555555;
    text-align: center;
}

.layoutLeft {
    width: 48%;
    height: 156px;
    margin: 0 auto;
    display: inline-block;
}

.layoutLeft img {
    width: 156px;
    height: 105px;
    margin: 0 auto;
    display: block;
}

.layoutRight {
    width: 48%;
    height: 156px;
    margin: 0 auto;
    display: inline-block;
}

.layoutRight img {
    width: 105px;
    height: 156px;
    margin: 0 auto;
    display: block;
}

.chooseLayout .selected {
    box-shadow: 0px 0px 4px #ECB733;
    -webkit-box-shadow: 0px 0px 4px #ECB733;
    -moz-box-shadow: 0px 0px 4px #ECB733;
}

.step p {
    text-align: center;
    color: #555555;
    font-weight: 500;
    font-size: 12px;
    padding-top: 8px;
}

.block .alternativeOption {
    color: #555555;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.textbox {
    border: 1px solid;
    border-color: #555555;
    color: #B6B6B6;
    width: 280px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 2px 2px 4px #B6B6B6;
    -webkit-box-shadow: 2px 2px 4px #B6B6B6;
    -moz-box-shadow: 2px 2px 4px #B6B6B6;
}

.textboxLeft {
    border: 1px solid;
    border-color: #555555;
    box-shadow: 2px 2px 4px #B6B6B6;
    -moz-box-shadow: 2px 2px 4px #B6B6B6;
    -webkit-box-shadow: 2px 2px 4px #B6B6B6;
    color: #B6B6B6;
    width: 280px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: -300px;
    opacity: 0.8;
}

.block .textboxRight {
    border: 1px solid;
    border-color: #555555;
    box-shadow: 2px 2px 4px #B6B6B6;
    -moz-box-shadow: 2px 2px 4px #B6B6B6;
    -webkit-box-shadow: 2px 2px 4px #B6B6B6;
    color: #B6B6B6;
    width: 280px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 300px;
    opacity: 0.8;
}

.block .textbox p {
    color: #555555;
    font-weight: 300;
    font-size: 10px;
    width: 240px;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
}

.block .textbox .selected {
    box-shadow: 2px 2px 4px #B6B6B6;
    -moz-box-shadow: 2px 2px 4px #B6B6B6;
    -webkit-box-shadow: 2px 2px 4px #B6B6B6;
}

.block textarea {
    width: 85%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #B6B6B6;
    background-color: #F2F2F2;
    display: block;
    margin: 0 auto;
}

.progress {
    max-width: 768px;
    width: 100%;
    height: 4px;
    background-color: #B6B6B6;
    position: fixed;
    bottom: 1px;
}

.progress .inProgress {
    height: 4px;
    background-color: #ECB733;
    position: relative;
    bottom: 1px;
    width: 25%;
    max-width: 768px;
}

.view {
    width: 280px;
    height: 188px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.timeline-line {
    height: 48px;
    width: 768px;
    background-image: url("../img/timeline_dot.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    z-index: 20;
    visibility: visible;
}

.timeline-line h5 {
    padding-bottom: 28px;
    padding-top: 0px;
}

#timeline,
#timeline-slide {
    height: 304px;
}

#timeline {
    position: relative
}

#timeline .swiper-button-prev,
#timeline .swiper-button-next {
    position: absolute;
    top: 148px;
}

#timeline img {
    position: absolute;
    top: 60px;
}


/*
.close {
    width: 100%;
    height: 24px;
    margin: auto;
}

.close img {
    width: 24px;
    height: 24px;
}
*/

.socialMediaList {
    width: 120px;
    height: auto;
    margin-bottom: 48px;
    margin: auto;
}

.socialMedia {
    width: 120px;
    height: 24px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.socialMedia:last {
    margin-bottom: 0px;
}

input {
    height: 22px;
    width: 116px;
    padding: 1px 6px;
    margin-left: 16px;
    margin: auto;
    color: #F2F2F2;
    border: 1px solid #F2F2F2;
    display: inline-block;
    border-radius: 8px;
}

#preview {
    height: 243px;
    margin: -18px 0 10px 0;
}

#stamps {
    height: auto;
}

#mainPicture img {
    max-height: 150px;
    max-width: 224px;
}

#stamps img {
    max-height: 58px;
    max-width: 87px;
}

.imgSize24 {
    height: 24px;
    width: 24px;
}

#userDropDown .close {
    position: fixed;
    top: 12px;
    right: 20px;
}

#loginForm .imgSize24 {
    width: 16px;
    height: 16px;
}

#loginForm .center {
    margin-bottom: 12px;
    height: 24px;
}

#username,
#password {
    color: #555555;
}

#notLoggedIn {
    height: 188px;
}

.user {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 16px 4px 16px 0;
    list-style: none;
    /*
    -webkit-box-shadow: 0 0 4px rgba(205, 205, 205, 0.7);
    -moz-box-shadow: 0 0 4px rgba(205, 205, 205, 0.7);
    box-shadow: 0 0 4px rgba(205, 205, 205, 0.7);
*/
}

.user li {
    font-size: 14px;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 16px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.user li:hover,
.user li:active,
.user li:focus {
    color: #FFFFFF;
}

.user li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: -42px;
    width: 100px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -transition: opacity 0.2s;
}

.user li ul li {
    background-color: #191919;
    display: block;
    color: #B6B6B6;
    text-shadow: 0 -1px 0 #000000;
}

.user li:hover ul,
.user li:active ul,
.user li:focus ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

#step6Content span {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 300;
}

.counter {
    display: inline-block;
    margin-right: 32px;
    font-weight: 500;
}

.warning {
    color: #ECB733;
}

.exceeded {
    color: #D41447;
}