.center {
    width: auto;
    margin: auto;
}

.left {
    float: left
}

.right {
    float: right;
}

nav img {
    height: 150%;
    width: auto;
}


/* new style */
@font-face {
	font-family: Catamaran;
	scr: url(catamaran.tff);
}

body {
	max-width: 800px;
	min-width: 375px;
	margin: auto;
}


nav {
	background-color: #ECB733;
	width: 100%;
	height: 64px;
	box-shadow: 0px 2px 2px rgba(205,205,205,70);
}

nav .logo {
	height: 29px;
	height: 75px;
}

nav .language {
	padding-left: 20px;
	width: 20px;
	height: 20px;
}

nav .user {
	padding-right: 20px;
	width: 20px;
	height: 20px;
}

div .block {
	width: 100%;
	margin: auto;
	padding-top: 18px;
	padding-left: 20px;
	padding-right: 20px;
	color: #555555;
	box-shadow: 0px 2px 2px rgba(205,205,205,70);
}

div .block h1 {
	font-weight: medium;
	font-size: 20px;
	color: #555555;
}

div .block h5 {
	font-weight: light;
	font-size: 8px;
	color: #555555;
	padding-top: 6px;
}

.important {
	color: #ECB733;
}

div .block .preview {
	padding-top: 10px;
	width: 280px;
	height: 188px;
}

div .block .preview .selected {
	box-shadow: 0px 0px 4px #ECB733;
}

div .block .previewLeft {
	width: 280px;
	height: 188px;
	padding-right: 20px;
}

div .block .previewRight {
	width: 280px;
	height: 188px;
	padding-left: 20px;
}

div .block .previewSmallGroup {
	padding-top: 10px;
}

div .block .previewSmall {
	width: 86px;
	height: 58px;
	padding-bottom: 7px;
}

div .block .previewSmall .leftColumn {
	padding-right: 10px;
}

div .block .previewSmall .rightColumn {
	padding-left: 10px;
}

div .block .previewSmallLeft{
	width: 86px;
	height: 58px;
	padding-right: 20px;
}

div .block .previewSmallLeft{
	width: 86px;
	height: 58px;
	padding-left: 20px;
}

div .block .previewSmall .selected {
	box-shadow: 0px 0px 2px #ECB733;
}

div .block .switchDots {
	padding-top: 8px;
}

div .block .switchDots .leftDot {
	padding-right: 8px; 
	width: 8px;
	height: 8px;
}

div .block .switchDots .rightDot {
	width: 8px;
	height: 8px;
}

div .block .switchDots .activated {

}

div .block .switchDots .disactivated {
	
}

div .block .button {
	width: 279px;
	height: 24px;
	border-radius: 8px;
	background-color: #ECB733;
}

div .block .share {
	height: 24px;
	border-radius: 8px;
	background-color: #ECB733;
	padding-right: 8px;
}

div .block .save {
	height: 24px;
	border-radius: 8px;
	background-color: #B6B6B6;
	padding-right: 8px;
}


div .block .button .textWhite {
	font-style: medium;
	font-size: 16px;
	color: #FFFFFF;
}

div .block .button .textGrey {
	font-style: medium;
	font-size: 16px;
	color: #555555;
}

div .block .lastElement {
	padding-bottom: 16px;
}

div .block .grey {
	background-color: #F2F2F2;
}


footer {
	width: 100%;
	height: 100px;
	padding-top: 2px;
	color: #FFFFFF;
	font-style: light;
	font-size: 8px;
	line-height: 10px;
}

footer p {
	padding-top: 2px;
}

footer p:first {
	padding-top: 24px;
}

div .block .notification {
	width: 100%;
	height: 36px;
	background-color: #ECB733;
	color: #FFFFFF;
	font-style: light;
	font-size: 12px;
}

div .block .notification .dropdown {
	background-color: rgba(236,183,51,20);
	color: #555555;
	font-style: light;
	font-size: 8px;
}

div .block .notification .dropdown ol {
	padding-top: 16px;
}

div .block .notification .dropdown ol li {
	width: 289px;
	height: 24px;
	padding-left: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 20px;
	font-style: light;
	color: #555555;
	border-color: #B6B6B6;
	border: 1px;
}

div .block .notification .dropdown+.goto {
	width: 42px;
	height: 20px;
	background-color: rgba(236,183,51,20);
}

div .block .notification .dropdown+.goto img {
	height: 8px;
	width: auto;
	margin: 2px 0px;
}

div .block .step {
	width: 100%;
	height: 36px;
	background-color: #F2F2F2;
	padding-top: 12px;
	font-style: medium;
	font-size: 12px;
	color: #555555;
	padding: 
}

div .block .step img {
	width: 12px;
	height: 6px;
}

div .block .step img .leftImg {
	padding-right: 18px;
}

div .block .step .layout {
	padding-top: 16px;
	width: 50%
	height: 106px;
}

div .block .step+p{
	text-align: center;
	color: #555555;
	font-style: medium;
	font-size: 12px;
	padding-top: 8px;
}

div .block .alternativeOption {
	padding-top: 12px;
	color: #555555;
	font-size: 12px;
	font-style: light;
}

div .block .textbox {
	border: 1px;
	color: #B6B6B6;
	width: 280px;
	height: 80px;
}

div .block .textbox p {
	color: #555555;
	font-style: light;
	font-size: 8px;
	width: 240px;
	height: auto;
	padding-left: 20px;
	padding-top: 20px;
}

div .block .textbox .selected {
	box-shadow: 2px 2px 4px #B6B6B6;
}

div .block textarea {
	width: 335px;
	height: 100;
	border-radius: 8px;
	border: 1px;
	border-color: #B6B6B6;
}


div .progress {
	width: 100px;
	height: 2px;
	background-color: #B6B6B6;
	position: fixed;
}

div .progress .inProgress {
	height: 2px;
	background-color: #ECB733;
	position: fixed;
}

div .mask {
	width: 100%;
	height: 100%;
	background-color: rgba(205,205,205,70);
}

div .mask .operation {
	margin: auto;
	height: 24px;
}

div .mask .operation img {
	width: 24px;
	height: 24px;
	padding-right: 8px;
}

div .mask .operation a {
	color: #555555;
	font-style: medium;
	font-size: 20px;
	padding-top: 2px;
}




























